[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
    ignore = dirty
[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
    ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
    ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
    ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
    ignore = dirty
[submodule "bundle/py.test"]
	path = bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
    ignore = dirty
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
    ignore = dirty
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = dirty
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
    ignore = dirty
[submodule "bundle/bufonly"]
	path = bundle/bufonly
	url = https://github.com/duff/vim-bufonly.git
    ignore = dirty
[submodule "bundle/perl-critic"]
	path = bundle/perl-critic
	url = https://github.com/mattfoster/vim-Perl-Critic.git
    ignore = dirty
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
    ignore = dirty
[submodule "bundle/vCoolor"]
	path = bundle/vCoolor
	url = https://github.com/KabbAmine/vCoolor.vim.git
    ignore = dirty
[submodule "bundle/vim-apib"]
	path = bundle/vim-apib
	url = https://github.com/lrampa/vim-apib.git
    ignore = dirty
[submodule "bundle/apiblueprint.vim"]
	path = bundle/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
    ignore = dirty
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
    ignore = dirty
[submodule "bundle/vim-tab"]
	path = bundle/vim-tab
	url = https://github.com/rargo/vim-tab.git
    ignore = dirty
[submodule "bundle/fontsize"]
	path = bundle/fontsize
	url = git@github.com:drmikehenry/vim-fontsize.git
    ignore = dirty
[submodule "colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle/vim-smarttabs"]
	path = bundle/vim-smarttabs
	url = https://github.com/dpc/vim-smarttabs.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/cyberdummy/html5.vim.git
[submodule "bundle/django-plus.vim"]
	path = bundle/django-plus.vim
	url = https://github.com/tweekmonster/django-plus.vim.git
